<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <img class="center"
          src="https://www.aeroermo.com/home/wp-content/uploads/2020/04/Logo-Aeronautica-Civil.png" alt="">
      </div>
      <div class="col-sm-6">
        <p-table [columns]="cols" [value]="data" selectionMode="single" [(selection)]="selectedRow"
          (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
          <ng-template pTemplate="caption">
            Aeronautica civil
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left">
              <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add">Add</button>
            </div>
          </ng-template>
        </p-table>

        <p-dialog header="Row Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
          showEffect="fade" [modal]="true" [style]="{width: '300px'}">
          <div class="p-grid ui-fluid" *ngIf="row">
            <div class="p-col-4">
              <label for="email">Username</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="email" [(ngModel)]="row.email" autofocus />
            </div>
            <div class="p-col-4">
              <label for="gender">Gender</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="gender" [(ngModel)]="row.gender" />
            </div>
            <div class="p-col-4">
              <label for="phone">Phone</label>
            </div>
            <div class="p-col-8">
              <input pInputText id="phone" [(ngModel)]="row.phone" />
            </div>
          </div>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete">Delete</button>
              <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save">Save</button>
            </div>
          </p-footer>
        </p-dialog>
      </div>
    </div>
  </div>
</div>